html {
  box-sizing: border-box;
  background-color: #252a34;
  font-size: 20px;
}
body {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 600px;
  color: #eaeaea;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  line-height: 1.5;
}

h1 {
    margin-top: 0;
    font-size: 1.563em;
}

a {
    color: #8cd2d5;
}
