body {
  background-color: #a7efbf;
}

#container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 10px, 1fr);
}

canvas {
  margin: auto;
  border: 2px solid black;
}

button {
  width: 10%;
  align-self: center;
  justify-self: center;
  border: 2px solid black;
  padding: 6px 12px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background: linear-gradient(to left, orange, yellow, green, cyan, blue, violet);
}
