body {
  background-color: #111111;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 10px, 1fr);

}

canvas {
  border: 2px solid black;
}


button {
  align-self: center;
  justify-self: center;
  border: 2px solid black;
  padding: 6px 12px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background: #eeeeee;
  color: #000000;
}
