body {
  background-color: #a7efbf;
}

form {
  display: grid;
  width: 33%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr); 
}

input[type=number] {
  margin: 5px;
  padding: 3px;
}

button, label {
  font-weight: bold;
  border: 3px solid #888888;
  margin-bottom: 2px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background: #eeeeee;
  color: #000000;
}
