body {
  max-width: none!important;
}

.container {
  margin: auto;
    display: grid;
    grid-template-rows: 3;
    max-width: 80%;
}

form {
  display: grid;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2;
}

input[type=number] {
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
}

label, input[type=submit] {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 2px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

textarea {
  margin: 20px;
  min-height: 80px;
  border-radius: 20px;
  padding: 10px;
}
